{% extends "base.html" %}
{% block title%} Album {% endblock%}

{% load staticfiles %}
{% block content %}

    <p><img id="fotos-galeria" src="{% static "imagens/galeria.png" %}"></p>

    <div id="voltar-home">
        <a href="{% url 'core.views.home' %}">Voltar Home</a>
    </div>

  <div class="fotos">
    <ul>
        {% for album in foto %}
            <li><img  id="tamanho-foto"  src="/media/{{album.imagem}}" alt="{{album.descricao}}"   /></li>
          {% endfor %}
      </ul>
    </div>

    <div class="pagination">
        {% for num in foto.paginator.page_range %}
            {% ifequal num foto.number %}
            <span class="ok"><b>{{ num }}</b></span>
            {% else %}
            <a class="next" href="?page={{ num }}"> {{ num }}</a>
            {% endifequal %}
        {% endfor %}
    </div>




{% include "rodape.html" %}


{% endblock %}
