{% extends "base.html" %}
{% block title%} {{event.titulo }}{% endblock%}


{% load staticfiles %}




	{% block content %}
	{% include "menu-events.html" %}


		<img  id="historia" class="imagem-events" src="/media/{{ event.imagem }} ">
		<div class="cabecalho-texto">
			<h1>{{ event.titulo }}</h1>
			<p class="texto">{{ event.text }}</p>
		</div>

		<div id="imagens">
			<a href="{% url 'core.views.album' %}"><img id="fotos-galeria" class="galeria-fotos" src="{% static "imagens/galeria.png" %}"></a>
		</div>

		{% include "rodape.html" %}
	{% endblock %}
